.home-hero {
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.hero-introduction {
  padding: 30px;
  gap: 50px;
  width: 50%;
}
.hero-title {
  text-shadow: #5c371b 10px 5px 10px;
}
.hero-slider,
.swiper img {
  height: 400px;
  width: 400px;
}
.hero-introduction a {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .hero-title {
    font-size: 30px !important;
  }
  .home-hero {
    gap: 0;
  }
  .hero-introduction {
    gap: 10px;
  }
  .hero-des{
    font-size: 18px !important;
     width: 99%;
  }
}
@media screen and (max-width: 687px) {
  .home-hero {
    flex-direction: column;
      padding-top: 100px;
  }
  .hero-introduction {
    padding: 30px;
    gap: 20px;
  }
  .hero-introduction {
    padding: 10px;
    width: 100%;
  }
  .swiper img {
    height: 250px;
    width: 380px;
  }
  .hero-slider {
    height: 100%;
    width: 100%;
  }
  .swiper img {
    margin: 0 auto;
  }
}
