.clients-content{
    justify-content: space-between;
    margin: 50px 0;
}
.clients-photo, .clients-description{
    width: 45%;
}
.clients-photo{
    flex-wrap: wrap;
    padding: 25px 0px;
}
.clients-photo img{
    width: 180px;
    height: 120px;
    margin: 0 auto;
}
@media screen and (max-width:992px){
    .clients-photo, .clients-description {
        width: 50%;
    }    
}

@media screen and (max-width:768px){
    .clients-content{
        flex-wrap: wrap;
    }
    .clients-photo, .clients-description {
        width: 100%;
    }
    .clients-photo{
        row-gap: 10px;
    }
    .clients-photo img{
        width: 160px;
        height: 100px;
        margin: 0 auto;
    }
}