.footer {
  padding: 70px 70px 0 70px;
}
.logo-footer {
  width: 100px;
}
.quick-links div,
.contact-us .contact-divs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.quick-links h2,
.contact-us h2 {
  margin-bottom: 40px;
}

.logo-div {
  flex: 2;
  justify-content: space-between;
}
.logo-div p {
  width: 80%;
}
.contact-us,
.quick-links {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 30px 0 30px;
  }

  .footer-up {
    flex-direction: column;
    gap: 20px;
  }
  .quick-links div,
  .contact-us .contact-divs {
    gap: 10px;
  }
  .quick-links h2,
  .contact-us h2 {
    margin-bottom: 10px;
  }
}
